
USE QuanLiCaPhe

---------- TAO TABLE DSMon -----------------------
GO
CREATE TABLE tblDSMon
(
	MaMon VARCHAR(5) PRIMARY KEY,
	TenMon NVARCHAR(50) NOT NULL,
	Nhom NVARCHAR(50)NOT NULL,
	DonGia MONEY NOT NULL,
	DonViTinh NVARCHAR(30) NOT NULL
)
-----------TAO TABLE NGUYEN LIEU-----------------
GO
CREATE TABLE tblNguyenLieu
(
	MaNL VARCHAR(5) PRIMARY KEY,
	TenNL NVARCHAR(50) NOT NULL,
	DonGia MONEY NOT NULL,
	DonViTinh NVARCHAR(50) NOT NULL,
	SoLuongCon INT NOT NULL,
)
----------TAO TABLE NHAP NGUYEN LIEU--------------
GO
CREATE TABLE tblNhapNL
(
	MaPhieuNhap INT PRIMARY KEY,
	NgayNhap DATETIME NOT NULL,
	TongTien MONEY NOT NULL
)
---------TAO TABLE CHI TIET NHAP NGUYEN LIEU------
GO
CREATE TABLE tblCTNhapNL
(
	MaPhieuNhap INT NOT NULL REFERENCES tblNhapNL(MaPhieuNhap),
	MaNL VARCHAR(5) NOT NULL REFERENCES tblNguyenLieu(MaNL),
	TenNL NVARCHAR(50) NOT NULL,
	SoLuong INT NOT NULL,
	DonViTinh NVARCHAR(50) NULL,
	DonGia MONEY NOT NULL,
	ThanhTien MONEY NOT NULL
)
----------TAO TABLE XUAT NGUYEN LIEU--------------
GO
CREATE TABLE tblXuatNL
(
	MaPhieuXuat INT PRIMARY KEY,
	NgayXuat DATETIME NOT NULL,
)
---------TAO TABLE CHI TIET XUAT NGUYEN LIEU------
GO
CREATE TABLE tblCTXuatNL
(
	MaPhieuXuat INT NOT NULL REFERENCES tblXuatNL(MaPhieuXuat),
	MaNL VARCHAR(5) NOT NULL REFERENCES tblNguyenLieu(MaNL),
	TenNL NVARCHAR(50) NOT NULL,
	SoLuong INT NOT NULL,
	DonViTinh NVARCHAR(50) NULL,
)
-----------TAO TABLE BAN-----------------
GO
CREATE TABLE tblBan
(
	MaBan VARCHAR(3) PRIMARY KEY,
	SoBan INT  NOT NULL,
	Khu NVARCHAR(30) NOT NULL
)
-----------TAO TABLE HOA DON-----------------
GO
CREATE TABLE tblHoaDon
(
	MaHD INT IDENTITY PRIMARY KEY,
	MaOder INT NOT NULL,
	MaBan VARCHAR(3) REFERENCES tblBan(MaBan) NOT NULL,
	Ngay DATETIME NOT NULL
)

-----------TAO TABLE CHI TIET HOA DON-----------------
GO
CREATE TABLE tblCTHoaDon
(
	MaHD INT REFERENCES tblHoaDon(MaHD) NOT NULL,
	MaMon VARCHAR(5) NOT NULL REFERENCES tblDSMon(MaMon),
	TenMon NVARCHAR(50) NOT NULL,
	SoLuong INT NOT NULL,
	DonGia MONEY NOT NULL,
	ThanhTien MONEY NOT NULL
)
-----------TAO TABLE ODER-------------------
GO
CREATE TABLE tblOder
(
	MaOder INT PRIMARY KEY,
	MaBan VARCHAR(3) REFERENCES tblBan(MaBan) NOT NULL,
	MaNV VARCHAR(5) NOT NULL REFERENCES tblNhanVien(MaNV),
	Ngay DATETIME NOT NULL
)
----------TAO TABLE CHI TIET ODER----------
GO
CREATE TABLE tblCTOder
(
	MaOder INT REFERENCES tblOder(MaOder),
	MaBan VARCHAR(3) REFERENCES tblBan(MaBan) NOT NULL,
	MaMon VARCHAR(5) NOT NULL,
	SoLuong INT NOT NULL,
	DonViTinh NVARCHAR(30) NOT NULL
)
----------TAO TABLE BAN DA CO KHACH--------
GO
CREATE TABLE tblBanCoKhach
(
	MaBan VARCHAR(3) REFERENCES tblBan(MaBan),
	SoBan INT NOT NULL
)
----------TAO TABLE BAN DUOC SU DUNG NHIEU NHAT------
GO
CREATE TABLE tblBanSDNhieu
(
	MaBan VARCHAR(3) REFERENCES tblBan(MaBan),
	SoBan INT NOT NULL,
	LuotSD INT NOT NULL
)
----------TAO TABLE DOANH THU--------------
GO
CREATE TABLE tblDoanhThu
(
	Ngay DATETIME PRIMARY KEY,
	DoanhThu MONEY NOT NULL
)
----------TAO TABLE CHI TIET DOANH THU-----
GO
CREATE TABLE tblCTDoanhThu
(
	Ngay DATETIME NOT NULL REFERENCES tblDoanhThu(Ngay),
	MaMon VARCHAR(5) NOT NULL REFERENCES tblDSMon(MaMon),
	SoLuongBan INT NOT NULL,
	TongTien MONEY NOT NULL
)
----------TAO TABLE NHAN VIEN--------------
GO
CREATE TABLE tblNhanVien
(
	MaNV VARCHAR(5) PRIMARY KEY,
	TenNV NVARCHAR(50) NOT NULL,
	NgaySinh DATETIME NOT NULL,
	GioiTinh NVARCHAR(30) NOT NULL,
	TrinhDoHocVan NVARCHAR(30) NULL,
	ChucVu NVARCHAR(30) NOT NULL,
	SoCMND CHAR(11) NOT NULL,
	DiaChi NVARCHAR(50) NOT NULL
)

----------TAO TABLE CHAM CONG-------------
GO
CREATE TABLE tblChamCongNV
(
	MaNV VARCHAR(5) NOT NULL REFERENCES tblNhanVien(MaNV),
	TenNV NVARCHAR(50) NOT NULL,
	CaLam NVARCHAR(30) NOT NULL,
	Ngay DATETIME NOT NULL,
	SoGioLam FLOAT NOT NULL
)
---------TAO TABLE BANG LUONG NHAN VIEN----
GO
CREATE TABLE tblBangLuong
(
	STT INT IDENTITY PRIMARY KEY,
	Thang INT NOT NULL,
	MaNV VARCHAR(5) NOT NULL REFERENCES tblNhanVien(MaNV),
	TenNV NVARCHAR(50) NOT NULL,
	TongGioLam FLOAT NOT NULL,
	MucLuong MONEY NOT NULL,
	TienLuong MONEY NOT NULL
)
------TAO TABLE USER-----------------
GO
CREATE TABLE tblUser
(
	MaUser VARCHAR(5) PRIMARY KEY,
	PassWord VARCHAR(10) NOT NULL,
	TenThuNgan NVARCHAR(50) NOT NULL
)